main {
    background-color: rgba(0, 0, 0, 0.75);
    width: 50%;
    margin: 100px auto;
    border-radius: 25px;
    padding: 10px;
    font-size: 2.5rem;
}

h1 {
    color: silver;
}

input, button {
    font-size: 1.3rem;
    color: green;
}

.search-button {
  font-size: 1.3rem;
  background-color: green;
  color: white;
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.search-button:hover {
  background-color: white;
  color: green;
}

.image {
   border-radius: 20px;
   padding: 5px;
}

#resultsContainer, #favorites {
  background-color: rgba(250, 250, 250, 0.50);
  display: inline-block;
  border-radius: 25px;
  margin:0 auto;
}

#favorites .favoriteIcon {
  margin-left: 0px;
  margin-right: 15px;
}



#favLink, .link {
  background-color: #CE4108 ;
  color:rgba(250, 250, 250, 0.75);
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px 2px 3px 5px;
  border: 1px solid #CE4108;
  border-radius: 5px;
}

#favLink:hover, .link:hover {
  background-color: rgba(250, 250, 250, 0.75);
  color: #CE4108;
}

#favContainer {
  background-color: rgba(0, 0, 0, 0.75);
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 25px;
}

.keywordLink {
  background-color: green;
  color: rgba(250, 250, 250, 0.80);
  text-decoration: none;
  font-size: 1.5rem;
  margin:5px;
  padding: 0px 5px 5px 5px;
  border-radius: 5px;
}

.keywordLink:hover {
  background-color: rgba(250, 250, 250, 0.80);
  color: green;
}



footer {
  bottom: 10px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.65);
}